<table>
    <thead>
      <tr>
        <th>Song(s)</th>
      </tr>
    </thead>
    <tbody>
      <% for (const song of songs) { %>
        <tr>
          <td><%= song %></td>
        </tr>
      <% } %>
    </tbody>
</table>
  